<div class="w-full max-w-8xl">
    <div class="grid sm:grid-cols-4 gap-6 w-full mt-8">
        <div class="sm:col-span-2">
            <div class="product-items bg-card p-4">
                <h5 class="font-bold mb-2">ID</h5>
                <p class="font-medium">{{productData.id}}</p>
            </div>
        </div>
        <div class="sm:col-span-2">
            <div class="product-items bg-card p-4">
                <h5 class="font-bold mb-2">Status</h5>
                <p class="font-medium">{{productData.status}}</p>
            </div>
        </div>
        <div class="sm:col-span-2">
            <div class="product-items bg-card p-4">
                <h5 class="font-bold mb-2">Server</h5>
                <p class="font-medium">{{productData.server}}</p>
            </div>
        </div>
        <div class="sm:col-span-2">
            <div class="product-items bg-card p-4">
                <h5 class="font-bold mb-2">Username</h5>
                <p class="font-medium">{{productData.username}}</p>
            </div>
        </div>
        <div class="sm:col-span-2">
            <div class="product-items bg-card p-4">
                <h5 class="font-bold mb-2">Type</h5>
                <p class="font-medium">{{productData.group}}</p>
            </div>
        </div>
        <div class="sm:col-span-2">
            <div class="product-items bg-card p-4">
                <h5 class="font-bold mb-2">Plan</h5>
                <p class="font-medium">{{productData.name}}</p>
            </div>
        </div>
    </div>
</div>