.playing-social {
    font-size: 16px;
    color: #5d5d5d;
}

.font-large {
    font-size: 18px;
}

.font-service {
    font-size: 16px;
    font-weight: 400;
    color: #262626 !important;
}

.configure-items {
    background: #007bff !important;
    color: #fff;
    border-radius: 10px !important;
    display: flex;
}

.alert-show {
    background: #22c55e !important;
    color: #fff;
    border-radius: 10px !important;
    display: flex;
    margin-top: 10px;
}

.setting-column {
    border-radius: 10px !important;
    box-shadow: none !important;
}

.control-label {
    font-size: 18px;
}

.warning-icon {
    color: #fff;
}

.well-items {
    min-height: 20px;
    padding: 19px !important;
    margin-bottom: 20px;
    background-color: #f5f5f5 !important;
    border: 1px solid #e3e3e3;
    border-radius: 4px;
}

.blockquote-des {
    padding: 10px 20px;
    font-size: 17.5px;
    border-left: 5px solid rgba(0, 0, 0, .15);
}

.always-wrap {
    margin-bottom: 10px;
}

small {
    display: block;
    font-size: 80%;
    line-height: 1.42857143;
    color: #777;
}

.pull-right {
    float: right !important;
}

label {
    display: inline-block;
    max-width: 100%;
    margin-bottom: 5px;
    font-weight: 700;
}

.textarea-form {
    background: #efefef;
    border: 2px solid #efefef;
    box-shadow: none;
    font-size: 16px;
    border-radius: 10px;
    height: auto;
    flex-grow: 1;
    width: 100%;
    padding: 0 10px;
}

.textarea-data {
    display: flex;
}

.textarea-footer {
    margin-left: 65px !important;
    color: #737373;
    font-size: 16px;
}

code {
    color: #c7254e;
    background-color: #f9f2f4;
    border-radius: 4px;
}

.every-text {
    background: #efefef;
    border: 2px solid #efefef;
    box-shadow: none;
    font-size: 16px;
    border-radius: 10px;
    height: 38px;
}

.every-text:active,
.every-text:focus {
    border: 2px solid #e2e2e2;
    box-shadow: none;
    -webkit-box-shadow: 0 0 0 30px #fff inset!important;
    background: #fff;
}

.btn-setting {
    background-color: #ff0173;
    color: #fff;
    border: none;
    width: 100%;
    height: 35px;
    border-radius: 10px;
    font-size: 18px;
}

.btn-setting:hover {
    background-color: #d60663;
    color: #fff;
    border: none;
}

.save-icon {
    color: #fff;
}

.product-items {
    border-radius: 7px;
}

.text-data {
    background: #efefef;
    border: 2px solid #efefef;
    box-shadow: none;
    font-size: 16px;
    border-radius: 10px;
    height: 40px;
    width: 250px;
    padding: 0 20px;
}

.remove-setting-form {
    text-align: right;
}

.text-data:active,
.text-data:focus {
    background: #fff;
    border: 2px solid #e2e2e2;
    box-shadow: none;
    -webkit-box-shadow: 0 0 0 30px #fff inset!important;
}

.help-block {
    display: block;
    margin-top: 11px;
    margin-bottom: 12px;
    color: #737373;
    font-size: 12px;
}

.article-guide {
    color: #ff0173;
}

.article-guide:active,
.article-guide:focus {
    color: #d60663;
}

.article-guide:focus,
.article-guide:hover {
    text-decoration: underline;
    font-weight: 700;
}

.btn-remove-setting {
    background-color: #d9534f;
    color: #fff;
    border: none;
    width: 100%;
    height: 35px;
    border-radius: 10px;
    font-size: 18px;
}

.switch-success {
    align-self: center !important;
    min-width: 180px;
}

.switch-success ::ng-deep .mat-radio-label {
    border: none;
    padding: 10px;
    font-weight: 500;
    color: #ff0173;
    transition: all .5s ease;
}

.switch-success ::ng-deep .mat-radio-label:hover {
    color: #ff0173;
    background: rgba(255, 1, 115, .1);
}

.switch-success ::ng-deep .mat-radio-label .mat-radio-container {
    visibility: hidden;
    width: unset;
    height: unset;
}

.switch-success ::ng-deep .mat-radio-checked .mat-radio-label {
    box-shadow: inset 0 3px 5px rgb(0 0 0 / 13%);
    background-color: #e6e6e6;
    border-color: #adadad;
    max-width: 100px;
    color: #333;
}

.switch-success ::ng-deep .mat-radio-songs .mat-radio-label {
    border-radius: 15px 0 0 15px;
    padding: 10px 20px;
}

.switch-success ::ng-deep .mat-radio-minutes .mat-radio-label {
    border-radius: 0 15px 15px 0;
    padding: 10px 15px;
}

.configure-items h5 {
    align-self: center;
    margin-left: 5px;
}

.is-invalid {
    border: 2px solid #dc3545;
}

.save-icon {
    margin-right: 5px;
}